body {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

header {
    overflow: hidden;
}

main {
    overflow: scroll;
}

aside {
    overflow: auto;
}

footer {
    overflow: inherit;
}
