body {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

header {
  overflow: hidden;
}

main {
  overflow: scroll;
}

aside {
  overflow-y: auto;
}

article {
  overflow-y: auto;
  overflow-x: hidden;
}

footer {
  overflow-x: inherit;
}
}
